<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table border="1">
    <caption>cars</caption>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Series</th>
    </tr>
    <div th:each="car : ${cars}">

    <tr><td><a th:text="${car.getBrand()}">car</a>
        </td>
        <td><a th:text="${car.getModel()}">car</a>
        </td>
        <td><a th:text="${car.getSeries()}">car</a>
        </td>
    </tr>
    </div>
<!--    <div th:each="car : ${cars}">-->
<!--        <a th:text="${car.getBrand()}">car</a>-->
<!--        <a th:text="${car.getModel()}">car</a>-->
<!--        <a th:text="${car.getSeries()}">car</a>-->
<!--    </div>  -->
</table>
</body>
</html>